1. Write a Python program to convert kilometers to miles?

In [2]:
kilometer = float(input("Enter Kilometers "))
miles = 0.621371*kilometer
print(f"{kilometer} kilometer is equal to {miles} Miles.")

Enter Kilometers 15.798
15.798 kilometer is equal to 9.816419058 Miles.

2- Write a Python program to convert Celsius to Fahrenheit?

In [3]:
celcius = float(input("Enter celcius"))
fhrnt = (celcius*(9/5))+32
print(f"{celcius} celcius is equal to {fhrnt} Fehrenheit")

Enter celcius34.56
34.56 celcius is equal to 94.208 Fehrenheit

3 -Write a Python program to display calendar?

In [5]:
import calendar
yy = 2022
mm = 11
print(calendar.month(yy,mm))
print(calendar.calendar(yy))

   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

4- Write a Python program to solve quadratic equation?

In [9]:
import math
a = float(input("Enter the coefficient of x^2"))
b = float(input("Enter the coefficient of x"))
c = float(input("Enter the constant term"))
D = ((b**2)-(4*(a*c)))
if D<0:
  print("Roots does not exist or are imaginary:")
else:
  root1 = ((0-b)+math.sqrt(D))/(2*a)
  root2 = ((0-b)-math.sqrt(D))/(2*a)
  print(f"The Square roots are {root1} , {root2} ")

Enter the coefficient of x^256.78
Enter the coefficient of x45.89
Enter the constant term2.3
The Square roots are -0.05368600037495849 , -0.7545211148064433

5 -Write a Python program to swap two variables without temp variable?

In [10]:
a = int(input("Enter first number "))
b = int(input("Enter secodn number "))
a = a+b
b = a-b
a = a-b
print(f"After swapping a = {a} , b = {b} ")

Enter first number 12
Enter secodn number 14
After swapping a = 14 , b = 12